div.mayflower-social-links {
}

div.mayflower-social-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.mayflower-social-links ul li {
	float: left;
	display: block;
	padding-right: 10px;
	margin-bottom: 10px;
}

div.mayflower-social-links ul li a {
	display: block;
	height: 32px;
	width: 32px;
	border: none;
	outline: none;
	text-decoration: none;
	text-indent: -9999px;
}

div.mayflower-social-links .facebook a{ background: url(img/mayflower_social-icons.png) -32px -32px no-repeat; }
div.mayflower-social-links .twitter a{ background: url(img/mayflower_social-icons.png) -32px -64px no-repeat; }
div.mayflower-social-links .youtube a{ background: url(img/mayflower_social-icons.png) -32px -96px no-repeat; }
div.mayflower-social-links .vimeo a{ background: url(img/mayflower_social-icons.png) -32px -128px no-repeat; }
div.mayflower-social-links .picasa a{ background: url(img/mayflower_social-icons.png) -32px -160px no-repeat; }
div.mayflower-social-links .flickr a{ background: url(img/mayflower_social-icons.png) -32px -192px no-repeat; }
div.mayflower-social-links .googleplus a{ background: url(img/mayflower_social-icons.png) -32px 0px no-repeat; }
div.mayflower-social-links .linkedin a{ background: url(img/mayflower_social-icons.png) -32px -224px no-repeat; }


div.mayflower-social-links .facebook a:hover { background: url(img/mayflower_social-icons.png) 0px -32px no-repeat; }
div.mayflower-social-links .twitter a:hover { background: url(img/mayflower_social-icons.png) 0px -64px no-repeat; }
div.mayflower-social-links .youtube a:hover { background: url(img/mayflower_social-icons.png) 0px -96px no-repeat; }
div.mayflower-social-links .vimeo a:hover { background: url(img/mayflower_social-icons.png) 0px -128px no-repeat; }
div.mayflower-social-links .picasa a:hover { background: url(img/mayflower_social-icons.png) 0px -160px no-repeat; }
div.mayflower-social-links .flickr a:hover { background: url(img/mayflower_social-icons.png) 0px -192px no-repeat; }
div.mayflower-social-links .googleplus a:hover { background: url(img/mayflower_social-icons.png) 0px 0px no-repeat; }
div.mayflower-social-links .linkedin a:hover { background: url(img/mayflower_social-icons.png) 0px -224px no-repeat; }